{% extends 'content_layout.html' %}
{% block content %}
    <div class="content">
        <div class="block">
            <ul class="nav nav-tabs nav-tabs-block" data-toggle="tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#btabs-invoices">Invoices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#btabs-customers">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#btabs-items">Products</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" href="#btabs-configuration">
                        Configuration <i class="si si-settings"></i>
                    </a>
                </li>
            </ul>
            <div class="block-content tab-content">
                <div class="tab-pane active" id="btabs-invoices" role="tabpanel">
                    <div class="block-header">
                        <h3>Invoices</h3>
                        <button type="button" class="btn btn-hero btn-sm btn-success float-right m-5"
                                onclick="window.location = '/invoice/add'">New Invoice
                        </button>
                    </div>
                    <table class="table table-vcenter">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;">#</th>
                            <th>Name</th>
                            <th class="d-none d-sm-table-cell" style="width: 15%;">Sessions</th>
                            <th class="d-none d-sm-table-cell" style="width: 15%;">Amount</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <th class="text-center" scope="row">{{ invoice.id }}</th>
                                <td>{{ invoice.description }}</td>
                                <td class="d-none d-sm-table-cell px-30">
                                    <span class="badge badge-info">{{ invoice.item | session_total }}</span>
                                </td>
                                <td>{{ invoice.amount }} €</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled"
                                                data-toggle="tooltip" title="" data-original-title="Edit"
                                                onclick="window.location = '/invoice/{{ invoice.id }}'">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled"
                                                data-toggle="tooltip"
                                                onclick="openModalDelete({{ invoice.id }}, 'invoice')"
                                                title="" data-original-title="Delete">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="btabs-customers" role="tabpanel">
                    <div class="block-header">
                        <h3>Customers</h3>
                        <button type="button" class="btn btn-hero btn-sm btn-success float-right m-5"
                                onclick="window.location = '/customer/add'">New Customer
                        </button>
                    </div>
                    <table class="table table-vcenter">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;">#</th>
                            <th>Name</th>
                            <th class="d-none d-sm-table-cell" style="width: 15%;">Invoices</th>
                            <th class="d-none d-sm-table-cell" style="width: 15%;">Phone</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in customers %}
                            <tr>
                                <th class="text-center" scope="row">{{ customer.id }}</th>
                                <td>{{ customer.name }}</td>
                                <td class="d-none d-sm-table-cell px-30">
                                    <span class="badge badge-info">{{ customer.invoice | length }}</span>
                                </td>
                                {% if customer.phone | length == 0 %}
                                    <td>No phone</td>
                                {% else %}
                                    <td>{{ customer.phone }}</td>
                                {% endif %}
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled"
                                                data-toggle="tooltip" title="" data-original-title="Edit"
                                                onclick="window.location = '/customer/edit/{{ customer.id }}'">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled"
                                                data-toggle="tooltip"
                                                onclick="openModalDelete({{ customer.id }}, 'customer')"
                                                title="" data-original-title="Delete">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="btabs-items" role="tabpanel">
                    <div class="block-header">
                        <h3>Products</h3>
                        <button type="button" class="btn btn-hero btn-sm btn-success float-right m-5"
                                onclick="window.location = '/product/add'">New Product
                        </button>
                    </div>
                    <table class="table table-vcenter">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;">#</th>
                            <th>Name</th>
                            <th class="d-none d-sm-table-cell" style="width: 15%;">Code</th>
                            <th class="d-none d-sm-table-cell" style="width: 15%;">Price HT</th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <th class="text-center" scope="row">{{ product.id }}</th>
                                <td>{{ product.name }}</td>
                                <td>{{ product.product_code }}</td>
                                <td>{{ product.price_ht }} €</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled"
                                                data-toggle="tooltip" title="" data-original-title="Edit"
                                                onclick="window.location = '/product/edit/{{ product.id }}'">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-secondary js-tooltip-enabled"
                                                data-toggle="tooltip"
                                                onclick="openModalDelete({{ product.id }}, 'product')"
                                                title="" data-original-title="Delete">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="btabs-configuration" role="tabpanel">
                    <div class="block">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">
                                <i class="fa fa-paypal mr-5 text-muted"></i> Enterprise Informations
                            </h3>
                        </div>
                        <div class="block-content">
                            <form action="/invoice/config/edit" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="row items-push">
                                    <div class="col-lg-3">
                                        <p class="text-muted">
                                            Your billing information is never shown to other users and only used for
                                            creating
                                            your invoices.
                                        </p>
                                    </div>
                                    <div class="col-lg-7 offset-lg-1">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label for="name">Company Name</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="name" name="name" value="{{ enterprise.name }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label for="address">Address</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="address" name="address" value="{{ enterprise.address }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label for="city">City</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="city" name="city" value="{{ enterprise.city }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label for="phone">Phone</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="phone" name="phone"
                                                       value="{{ enterprise.phone }}">
                                            </div>
                                            <div class="col-6">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="email" name="email"
                                                       value="{{ enterprise.email }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label for="postal-code">Postal code</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="postal-code" name="postal-code"
                                                       value="{{ enterprise.postal_code }}">
                                            </div>
                                            <div class="col-6">
                                                <label for="siret">Siret</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="siret" name="siret"
                                                       value="{{ enterprise.siret }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label for="bank">Bank infos</label>
                                                <textarea required class="form-control form-control-lg"
                                                          rows="5"
                                                          name="bank">{{ enterprise.bank_infos }}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-alt-primary">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                     <div class="block">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">
                                <i class="fa fa-paypal mr-5 text-muted"></i> Invoice configuration
                            </h3>
                        </div>
                        <div class="block-content">
                            <form action="/enterprise/edit" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="row items-push">
                                    <div class="col-lg-3">
                                        <p class="text-muted">
                                            Your billing information is never shown to other users and only used for
                                            creating
                                            your invoices.
                                        </p>
                                    </div>
                                    <div class="col-lg-7 offset-lg-1">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label for="name">Company Name</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="name" name="name" value="{{ enterprise.name }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label for="address">Address</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="address" name="address" value="{{ enterprise.address }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label for="city">City</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="city" name="city" value="{{ enterprise.city }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label for="phone">Phone</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="phone" name="phone"
                                                       value="{{ enterprise.phone }}">
                                            </div>
                                            <div class="col-6">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="email" name="email"
                                                       value="{{ enterprise.email }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label for="postal-code">Postal code</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="postal-code" name="postal-code"
                                                       value="{{ enterprise.postal_code }}">
                                            </div>
                                            <div class="col-6">
                                                <label for="siret">Siret</label>
                                                <input type="text" class="form-control form-control-lg"
                                                       id="siret" name="siret"
                                                       value="{{ enterprise.siret }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label for="bank">Bank infos</label>
                                                <textarea required class="form-control form-control-lg"
                                                          rows="5"
                                                          name="bank">{{ enterprise.bank_infos }}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-alt-primary">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let itemId = 0;
        let itemType = "";
        let openModalDelete = (id, type) => {
            jQuery('#modal-popout').modal('toggle');
            itemId = id
            itemType = type
        }

        let deleteItem = () => {
            window.location = '/' + itemType + '/delete/' + itemId
        }
    </script>

    <!-- Pop Out Modal -->
    <div class="modal fade" id="modal-popout" tabindex="-1" role="dialog"
         aria-labelledby="modal-popout"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-popout" role="document">
            <div class="modal-content">
                <div class="block block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title">Warning !</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-dismiss="modal"
                                    aria-label="Close">
                                <i class="si si-close"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        <p>Do you really want to remove this element?.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-alt-success" data-dismiss="modal"
                            onclick="deleteItem()">
                        <i class="fa fa-check"></i> Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Pop Out Modal -->
{% endblock %}